{% extends '_base.html' %}
{% block content %}


<div class="container">
    <div class="row">
        <h1>Historial de compras {{user}}</h1>
    </div>
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {% for transacion in lista_transacciones %}
                <tr>
                <th scope="row">{{transacion.id}}</th>
                <td>{{transacion.cant}}</td>
                <td>{{transacion.precio}}</td>
                <td>{{transacion.id_trans}}</td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>

    </div>
</div>
{% endblock content %}
